body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(120deg, green, black );
    height: 100vh;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav .icon {
    display: none;
  }

  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  
  .center{
        position: absolute;
           top: 50%;
              left: 50%;
                 transform: translate(-50%, -50%);
              width: 400px;
           background: white;
        border-radius: 10px;
           color: black;
    }
    
    .center h1{
        text-align: center;
           padding: 0 0 20px 0;
              border-bottom: 1px solid silver;
    }