body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(120deg, green, black );
    height: 100vh;
    overflow: hidden;
              
                  
    
    }
    
    
    .center{
        position: absolute;
           top: 50%;
              left: 50%;
                 transform: translate(-50%, -50%);
              width: 400px;
           background: linear-gradient(120deg, green, black );
        border-radius: 10px;
           color: black;
    }
    
    .center h1{
        text-align: center;
           padding: 0 0 20px 0;
              border-bottom: 1px solid silver;
    }
    
    .center form{
        padding: 0 40px;
           box-sizing: border-box;
    }
    
    form .txt_field{
        position: relative;
           border-bottom: 2px solid #adadad;
              margin: 30px 0;
                 border-radius: 10px;
    }
    
    .txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    }
    
    .txt_field label{
        position: absolute;
        top: 50%;
        left: 5px;
        color: #adadad;
        transform: translateY(-50%);
        font-size: 16px;
        pointer-events: none;
        transition: .5s;
    }
    
    .txt_field span::before{
        content: '';
        position: absolute;
        top: 40px;
        left: 0;
        width: 0%;
        height: 2px;
        background: #2691d9;
        transition: .5s;
    }
    
    .txt_field input:focus ~ label,
    .txt_field input:valid ~ label{
        top: -5px;
        color: #2691d9;
    }
    
    .txt_field input:focus ~ span::before,
    .txt_field input:valid ~ span::before{
        width: 100%;
    }
    .Pass{
        margin: -5px 0 20px 5px;
        color: #a6a6a6;
        cursor: pointer;
    }
    .Pass:hover{
    text-decoration: underline;
    }
    
    input[type="Submit"]{
        width: 100%;
        height: 50px;
        border: 1px solid;
        border-radius: 25px;
        background: #2691d9;
        font-size: 16px;
        color: #e9f4fb;
        font-weight: 700;
        cursor: pointer;
        outline: none;
    }
    input[type="Submit"]:hover{
        border-color: #2691d9;
        transition: .5s;
    }
    .singup_link{
        margin: 30px 0; 
    text-align: center;
    font-size: 16px;
    color: #666666;
    } 
    .singup_link a{
        color: #2691d9;
        text-decoration: none;
    }
    .singup_link a:hover{
        text-decoration: underline;
    }