<!DOCTYPE html>
<html>
    <head>
        <title> Profiles </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <p>Profiles</p>
        {{profiles}}
        <a href="startpage?currentuser={{currentusername}}> Go back </a>
    </body>
</html>
