<html>
    <head>
        <title>Your profile</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="profile.css">
    </head>
    <body>
        <aside>
            <img src="{{profile-picture}}" alt="Profile picture">
            <br>
            <span>{{name}}</span>
        </aside>
        <main>
            <section>
                <h2>Description</h2>
                <p>{{description}}</p>
            </section>
        </main>
    </body>
</html>
