<!DOCTYPE html>

<html>
    <head>
        <title>Profiles</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="profile.css">
    </head>
    <body>
        <main>            
            <ul>
                {{profilelistitems}}
            </ul>
        </main>
    </body>
</html>
